*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	block-size: 100%;
}

body {
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
	/* padding: 0; */
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-inline-size: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
	font-size: inherit;
	color: inherit;
	letter-spacing: inherit;
}

a[href],
area,
button,
input,
label[for],
select,
summary,
textarea {
	cursor: pointer;
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
