/*  http://localhost:5173/iris-factory?d=NobwRAdghgtgpmAXJOBXALgJygGzAGjAGMALTAexiiWAAYA6WgRgF1CcBLAcxPQjgDOAmgE4ArPgBMtNmBKoEiAMwAWEYVIUqAUSgDFYOHrgBJCAGUO-AmE48+ggbv1JDxswHkMARVRQAJjYC6HAADsKITLQAvvjg0PCuUEREcBDoNpqU1Ih0jEz4DJKydrz8QqISYgDssvKKqurEZNnOBkb6nhiW1uzcZY5trh2mEF7oPQiEwWERUdEsQA */
:root {
	--neutral-1: #f4ecef;
	--neutral-2: #eee6e9;
	--neutral-3: #dcd4d7;
	--neutral-4: #beb6b9;
	--neutral-5: #958e91;
	--neutral-6: #676063;
	--neutral-7: #433d40;
	--neutral-8: #2b2528;
	--neutral-9: #1e181b;
	--neutral-10: #1a1417;
	--accent-1: #f4ecef;
	--accent-2: #f3e7ec;
	--accent-3: #f1d8e3;
	--accent-4: #edc1d5;
	--accent-5: #e7a4c4;
	--accent-6: #df86b3;
	--accent-7: #d668a2;
	--accent-8: #ce4e95;
	--accent-9: #c83a8d;
	--accent-10: #c5328a;
}
