/*  http://localhost:5173/iris-factory?d=NobwRAdghgtgpmAXJOBXALgJygGzAGjAGMALTAexiiWGAAZ8BOAdgDoBGADmYFYBdfMABMAFlZDG7RnTrMR0gGwBmBQpFMFrZgroTGCoTxELOXAcGaNWImXMUrmdEUPydNnSUs49tzS7uZzdhkmIVZOTi9GHnYlYLd2fgEwHABLAHMSdAg4AGdcmnp8MRNecyUrLxEVJQkeCLp2BSZWJRERHgVGIQiomP5BR1Y6JTkeOMieITp6-FHW5k4hP0SlHnqnIJDuYZUYk3HGWvq+ZJJUBEQ19TBc9DgABwLEYIBffHBSCipChm9hrjMIQKHiSbQjcpiDpdHqRDwxOKuMTA-QGbqxESRdjmAysIwmJoiSw2WTGfC49hAnrGdpSIlGLYMDqtLhraag7o8OiMU6ENKZbJ5Z60Bg8VgKSksXg9OgeCKBQRCMLSziyxjytROHj4dglOgKOSJZhKEajWTmLl4iWWPxTVUeZhzJTi2rRBq69XBBSM4rsPHG02ORYgym8sDnS7BQh3R7PKOQWCXMBQIhEOAQdBgV58IA */ 
:root{
    --neutral-0 : #f6edf0;
    --neutral-1 : #f1e5e9;
    --neutral-2 : #e7d9de;
    --neutral-3 : #dac8ce;
    --neutral-4 : #c6b0b8;
    --neutral-5 : #ad959e;
    --neutral-6 : #8c737c;
    --neutral-7 : #664d56;
    --neutral-8 : #3c262f;
    --neutral-9 : #100408;
    --accent-0 : #ffe1e5;
    --accent-1 : #ffcbd2;
    --accent-2 : #f6b8c0;
    --accent-3 : #eda3ad;
    --accent-4 : #e58e9b;
    --accent-5 : #e17a8c;
    --accent-6 : #de667d;
    --accent-7 : #dd5271;
    --accent-8 : #dd3b66;
    --accent-9 : #dd205d;
}