/*  http://localhost:5173/iris-factory?d=NobwRAdghgtgpmAXJOBXALgJygGzAGjAGMALTAexiiWGAAZ8AOOgOkYE5HGB2ANgBY6-fu34BmbgF18wMfxb8ArL3YAmLmI6KAjGO35e2lkMa8Ouxor7dG04N3YK6dbiLq8xvbkNVNebdgsrLwc6VSkZbWd8NTZGTXYdPTpTbUVJaTAcAEsAcxJ0CDgAZ2KaeiYWQ35VMVVVOnZuCUZ1O1V-bVrFRMU6ZW0HRnxtI0MTM0DNYPY7b2MJJT14xQbFYYkWFvDuNLFFdaE7KIZ5m14dM0Uxdjr1jMISVAREff5CYvQ4AAcyxCiAL74cCkChUcoMSzGbQ8Do9Qa8OhiOxyBTKNQaLS6fSMeQddi8XiqNS6fjxbR2IksRT8MzaAQOQQuWkGVQsQb1XECfjaUTcGnHaJKLYw-ZrdhqPqzTI5fKFEp-WgMRRVQZNfnqFKcHgoxhsYLcUIdVQc96jFjdXr9QwOQ38Ow6EUpaq1eqNZT4GosCVEml0hlqQUMHnU5pIiQuUw6KSZJ4vKIfL6-JAJyCwF5gKBEIhwCDoMAAyRAA */ 
:root{
    --neutral-1 : #ffd1e5;
    --neutral-2 : #ffc4de;
    --neutral-3 : #ffb2d3;
    --neutral-4 : #f4a1c2;
    --neutral-5 : #de91b0;
    --neutral-6 : #c47f9b;
    --neutral-7 : #a36b81;
    --neutral-8 : #825768;
    --neutral-9 : #5d404c;
    --neutral-10 : #37262d;
    --accent-1 : #ffe1e5;
    --accent-2 : #ffd6dc;
    --accent-3 : #ffc3cb;
    --accent-4 : #f7acb7;
    --accent-5 : #e7919e;
    --accent-6 : #dc7587;
    --accent-7 : #d65e76;
    --accent-8 : #d34969;
    --accent-9 : #d63461;
    --accent-10 : #dd205d;
}