@import url('./styles/reset.css');
@import url('./styles/variables/sizes.css');
@import url('./styles/variables/colors.css');
@import url('./styles/variables/theme.css');
@import url('./styles/toast.css');

body {
	font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: var(--fs-0);
	color: var(--text-2);
	background-color: var(--surface-2);
}

#app {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr minmax(20%, min(40rem, 40%));
	align-items: start;
}

header {
	grid-column: 1 / -1;
}

h1,
h2,
h3 {
	line-height: 1.2;
	color: var(--text-1);
}

h1 {
	font-size: var(--fs-5);
}
h2 {
	font-size: var(--fs-4);
}
h3 {
	font-size: var(--fs-3);
}

fieldset {
	border: 1px solid var(--border-3);
}
legend {
	font-style: italic;
}

button {
	display: block;
	background-color: transparent;
	border: 1px solid var(--border-2);
}

button:where(:hover, :focus-visible) {
	color: var(--text-accent-1);
	background-color: var(--surface-1);
	border-color: var(--border-accent-1);
}

.center > *:not(.full-bleed) {
	max-inline-size: clamp(20rem, 80vw, 65rem);
	margin-inline: auto;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}
